
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.multiselect{
  &__select{
      display: none !important;
  }
  &__input{
      border:0  !important;
  }
  &__tags{
      padding: 8px !important;
      border-radius: 0 !important;
      &-wrap{
          position: absolute;
          right: 0;
        
      }
  }
  &__tag{
          background: black !important;
          border-radius: 0 !important;
  }
}