
// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
// @import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import './variables';
@import './mixins';
@import 'splide-default.min.css';
@import './inputs/button';
@import './inputs/input';


@import './home/freelance';
@import './home/postskill';
@import './home/postjob';

@import './home/step1';
@import './home/step2';
@import './home/step3';
@import './home/step4';
@import './home/banner.content';
@import './home/banner.job';
.c-pointer{
    cursor:pointer;
}
.wt-logininfo .wt-btn{
    background: #9013F3;
}

.wt-logininfo .wt-btn:hover{
    background: #9013F3;
}
.wt-loginarea .wt-loginbtn{
    color: #fff !important;
    font-weight: bold;
}
.wt-loginarea .wt-loginbtn:hover{
	color: #3A0B5F !important;
}

.splide__arrow{
    background: #ffffff;
    font-size: 20px;
}

@include d-mobile{
    .wt-fwidgettitle{
        padding-top: 30px;
    }
    body.wt-login .wt-loginarea{
        align-items: center;
        margin: 4px !important;
        .wt-loginbtn{
            // margin:0px !important;
        }
    }
    .wt-navigationarea{
        background: #fff;
        @include d-mobile {
            background: transparent;
        }
    }
    .wt-navigationarea .wt-logo{
        top:5px;
        position: relative;
        left: 22px;
    }
    .desktop-logo{
      display: none;
    }
    .navbar-toggler{
        padding: 0px !important;
        font-size: 1.500rem !important;
    }
    .lnr-menu:before{
        color: white;
    }
    .wt-loginarea .wt-loginbtn{
        color: white !important;
    }
    .wt-nav button{
        background: transparent !important;
    }
    .wt-rightarea{
        height: 100px;
    }
    .wt-rightarea .wt-nav{
        position: absolute;
        top: 19px;
        right: 0px;
    }
    .wt-headereleven .wt-navigationarea{
        padding: 0 15px 0 0 !important;
        height: 100px;
    
    }

    .wt-headereleven{
        padding: 0 !important;
        margin-bottom: -121px !important;
    }
    .wt-username{
        display: none;
    }  
    .wt-banner{
        margin-top: 0px !important;
    } 
    body.wt-login .wt-loginarea {
        display: block;
        margin: 20px 2px;
        position: absolute;
        top: 9px;
        right: 28px;
    }
    .wt-loginformhold{
        left: 0;
        margin: 0 auto;
        position: fixed !important;
        top: 66px !important;
    }
    .navbar-nav{
        background: #fff;
        li{
            border-bottom: 1px solid #ddd;
            margin: 5px 0 !important;
            &:last-child{
                border-bottom: 0;
            }
        }
    }
    .wt-userlogedin{
        bottom: -20px;
        &::before{
            content: none !important;
        }
    }
    .wt-navigation{
        position: absolute;
        top: 30px;
        .navbar-nav{
            width: 150px;
        }
    }
}
@include d-desktop{
    .wt-wrapper{
        overflow: unset !important ;
    }
    .wt-navigationarea{
        padding: 0 !important;
    }

    .splide__arrow--prev{
        left: -5em !important;
    }
    
    .splide__arrow--next{
        right: -5em !important;
    }
    .mobile-logo{
       display: none;
    }

}
.e-banner{
    background: #F5F5F5;
    padding: 3rem 0;
}
.wt-home-slider{
    left: 0 !important;
}
.wt-footertwo{
    padding-top: 40px !important;
    background: #23053B;
    &::after,&::before{
        content: none !important;
    }
    .e-button {
        padding: 0.8rem 7rem;
        border-radius: 4px;
        font-size: 0.8rem;
    }
    .wt-footercol2 {
        margin-top: 5px;
        margin-bottom: 20px;
    }
    .other-links{
        
        .other-link{
            display: inline;
            a {
                color: white;
                margin-right: 10px;
                font-size: 0.8rem;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}

.wt-headereleven{
	padding-left: 40px; 
	/* margin-bottom: -146px;  */
	/* background-color: orange; */
	position:absolute !important;
	width: 100%;
}

.wt-contentwrapper .custome-home-banner {
    // background: linear-gradient(90deg, rgba(144,19,243,1) 0%, rgba(212,19,243,1) 83%);
    
    background: linear-gradient(-45deg, #9013f3, #d413f3, #d413f3, #9013f3, #d413f3);
    animation: gradient 15s ease infinite;
    background-size: 500% 500%;
}
.wt-contentwrapper .banner-content__search--input {
    width: 100%;
}
.wt-contentwrapper .home-banner-img1 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    // max-width: 450px;
}
.wt-contentwrapper .banner {
    padding: 200px 0px 70px;
}
.wt-contentwrapper .newHeaderClass {
    position: fixed !important;;
    // background: linear-gradient(90deg, rgba(144,19,243,1) 0%, rgba(212,19,243,1) 83%);
    background: linear-gradient(-45deg, #9013f3, #d413f3, #d413f3, #9013f3, #d413f3);
    animation: gradient 15s ease infinite;
    background-size: 500% 500%;
}
.wt-contentwrapper .banner-content__title {
    line-height: 1;
    color: #ffffff;
}
.wt-contentwrapper .banner-content__subtitle {
    color: #ffffff;
    opacity: 1;
}
.wt-contentwrapper .banner-content__items {
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
}
.wt-contentwrapper .custom-desktop {
    display: block;
}
.wt-contentwrapper .custom-mobile {
    display: none;
}

.wt-contentwrapper .e-freelancer a.e-button-whitebackground:hover {
    border: 2px solid #9013F3;
    background-color: #9013F3;
    color: #fff;
}
.wt-contentwrapper .e-freelancer a.e-button-whitebackground:active {
    border: 2px solid #9013F3;
    background-color: #9013F3;
    color: #fff;
}

@media only screen and (max-width: 786px)  {
    .newHeaderClass {
        background: none;
    }
    .banner-content__subtitle {
        padding-bottom: 1rem!important;
        font-size: 16px;
    }
    .wt-contentwrapper .banner {
        padding: 125px 0px 24px;
    }
    .wt-contentwrapper .banner-content {
        margin-top: unset;
        background: unset;
    }
    .wt-contentwrapper .banner-content__title {
        font-size: 24px;
        color : #000000;
    }
    .wt-contentwrapper .banner-content__search--input {
        width: 75%;
    }
    .banner-content__search button {
        padding: 0;
        width: 25%;
    }
}
@media only screen and (max-width: 785px)  {
    .wt-contentwrapper .custom-desktop {
        display: none;
    }
    .wt-contentwrapper .custom-mobile {
        display: block;
    }
    .wt-contentwrapper .home-banner-img1 {
        position: unset;
        bottom: unset;
        right: unset;
        width: 100%;
        // max-width: 450px;
        padding-top: 80px;
    }
    .wt-contentwrapper .banner {
        padding-top: 20px;
    }
    .wt-contentwrapper .banner-content__subtitle {
        color: #878787;
        opacity: 1;
    }
    .wt-contentwrapper .banner-content__items {
        color: #9013F3;
    }
}

.bannerjob__item {
    cursor: default;
}
.banner-content__search .e-button-primary {
    background: #3A0B5F;
}

.wt-headereleven .wt-logo {
    margin: 22px 0 !important;
}
.wt-headereleven .wt-logo.wt-logo-header.mobile-logo img {
    width: 184px;
}

@media only screen and (max-width: 768px) {
    .wt-headereleven .wt-userlogedin {
        margin: unset !important;
        bottom: -17px;
        float: right;
        padding: unset;
        // display: none;
        cursor: pointer;
        position: relative;
        padding-right: 0;
    }
    .wt-headereleven .wt-userlogedin .wt-userimg {
        float: left;
        margin-right: 20px;
    }
    .wt-navigation .navbar-nav {
        margin-top: 5px;
    }
    .wt-headereleven .wt-logo {
        margin: 10px 0 !important;
    }
    .wt-header .wt-navigation > ul > li > a {
        color: #767676 !important;
    }
}

@media only screen and (max-width: 512px)  {
    .wt-headereleven .wt-logo.wt-logo-header.mobile-logo img {
        width: 184px;
        margin-left: -17px;
    }

    body.wt-login .wt-loginarea {
        display: grid !important;
    }
    .wt-headereleven .wt-loginoption {
        order: 2;
        text-align: center;
        margin-top: 1px;
    }
    .wt-headereleven .wt-loginarea .wt-loginbtn {
        margin-right: unset !important;
    }
}

.wt-contentwrapper .banner-content .e-project-type__list--item {
    background: #ffffff;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
