.e-input{
    &-field{
        border: 1px solid rgba(232, 232, 232, 0.14) !important;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.08) !important;
        border-radius: 4px 0px 0px 4px !important;
        -webkit-border-radius: 4px 0px 0px 4px !important;
        -moz-border-radius: 4px 0px 0px 4px !important;
        -ms-border-radius: 4px 0px 0px 4px !important;
        -o-border-radius: 4px 0px 0px 4px !important;
}
}
