.bannerjob{
    background: #F5F5F5;
    &__image{
        @include d-mobile{
            width: 320px;
            margin: 1rem;
        }
        &__text{
            @include d-mobile{
                width: 320px;
                margin: 0rem 1rem;
            }
            font-size: 12px;
            width: 300px;
            line-height: 1.1;
            margin-top: 15px;
        }
    }
    &__content{
        border-left: 2px solid #CFCFCF;
        padding-bottom: 40px;
        border-bottom: 2px solid #CFCFCF;
        position: relative;
        // // @include d-mobile{
        // //     &::after{
        // //         content: '';
        // //         width: 50%;
        // //         background-color: #F5F5F5;
        // //         position: absolute;
        // //         right:0;
        // //         top: -1px;
        // //     }
        // }
    }
    &__title{
        @include header-h2;
        text-transform: none;
    }    
    &__item{
        list-style: none;
        @include font16;
        @include d-mobile{
            width: 100%;
        }
        cursor: pointer;
        &-selected{
            color:#9013F3;
            opacity: 1;
        }
        
    }
    &__bullets{
        position: absolute;
    bottom: -15px;
    left: 0px;
    right: 0px;
    display: flex;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    background: #F5F5F5;
    justify-content: center;
    padding-left: 15px;
        ul{
            display: flex;

        }
    }
    &__bullet{
           list-style: none;
    border: 2px solid #CFCFCF;
    
    padding: 2px;
    border-radius: 100%;
    margin: 5px;
    cursor: pointer;
        &-active{
            border: 2px solid #9013F3;
            background: #9013F3;
        }
    }
    .e-button {
        padding: 0.8rem 2rem;
        font-size: 14px;
    }
}