.why_ebelong {
    font-family: "Poppins", sans-serif;
    &_section {
        background-color: #3A0B5F;
        padding: 3rem 0rem;
    }
    &_title {
        h3 {
            text-transform: unset;
            color: white;
        }
    }
    &_discription {
        p{
            color: white;
            margin: 30px 0px;
        }
    }
    &_btn {
        margin-bottom: 20px;
        a:hover {
            color: white;
        }
    }

    &_img {
        text-align: center;
    }
    &_tiles {
        margin-top: -25px;
        margin-bottom: 50px;
        .card {
            height: 100%;
            box-shadow: 0px 0px 7px 3px rgba(0,0,0,0.15);
            -webkit-box-shadow: 0px 0px 7px 3px rgba(0,0,0,0.15);
            -moz-box-shadow: 0px 0px 7px 3px rgba(0,0,0,0.15);
        }

        .media-img-bg {
            background: #456BD9;
            clip-path: circle(45%);
            height: 5em;
            width: 5em;
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            margin-right: 10px;
    
            img {
                width: 25px;
            }
        }
        .media-body {
            p {
                font-size: 13px;
                margin-bottom: unset;
            }
        }
    }
    
}
.trusted_partner{
    background: #f5f5f58f;
    clear: both;

    &__items{
        
        @include d-mobile{
            display: flex !important;
            justify-content: space-around !important;
            grid-template-columns: auto auto;
            padding: 25px 15px !important;
            div:nth-child(even){
                text-align: right;
            }   
        }
    }
}
.e-freelancer{
    clear: both;
    &__header{
      @include header-h2;
      padding-top: 1rem;
      padding-bottom: 1rem;
      @include d-mobile{
          text-align: center;
      }
    }
    &__content{
        padding-top: 1rem;
        margin-left: 1rem;
    }
    &__item{
        box-shadow: 0px 4px 38px rgba(0, 0, 0, 0.08);
        background: #FFFFFF;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 1rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
        justify-content: space-between;
        &-image{
            img{
            width: 140px;
            height: 140px;
            border-radius: 100%;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            -ms-border-radius: 100%;
            -o-border-radius: 100%;
            }
        }
        &-title{
            @include title;
            padding: 0.4rem 0;
        }
        &-skill{
            @include subtitle;
            padding-bottom: 0.4rem;

        }
        &-price{
            background: #3A0B5F;
            @include stripe-text;
            align-self: flex-start;
            padding: 0.2rem 1rem;
        }
    }
}

.e_featured_skill {
    display: none;
}
@media only screen and (max-width: 768px){
    .home_slider_skill {
        .e-project-type__list {
            display: none;
        }
    }
    .e_featured_skill {
        display: block;
    }
    .custom-mobile {
        .banner-content__search {
            margin-bottom: 33px;
        }
    }
}
