.e-postskill{
    &__header{
        @include header-h2;
        padding: 2rem 0;
        text-align: center;
        &_title {
            font-size: 22px;
        }
        &_description {
            font-size: 22px;
            font-weight: 500;
            font-family: "Poppins", sans-serif;
            color: #474747;
            opacity: 0.6;
            margin: 10px 0px;
        }
        &_description1 {
            font-size: 18px;
            font-weight: 500;
        }
        span {
            color: #9013F3;
        }
    }
    .multiselect__tags {
        border: 1px solid rgba(232, 232, 232, 0.14) !important;
    box-shadow: 0px 0px 40px rgb(0 0 0 / 8%) !important;
    border-radius: 4px 0px 0px 4px !important;
    -webkit-border-radius: 4px 0px 0px 4px !important;
    }
}