.e-wanted-postions{
    &__heading{
        @include title;
    }
    &__list{
        display: flex;
        flex-wrap: wrap;
    }
    &__item{
        list-style: none;
    }
}
.multiselect__option--highlight{
    background: #9013F3 !important;
}
.multiselect__option--highlight:after {
    background: #9013F3 !important;
}
.multiselect__tag-icon:after {
    color: #9013F3 !important;
}
.multiselect__tag-icon:hover {
    background: #9013F3 !important;
}
.multiselect__tag-icon:hover:after {
    color: #fff !important;
}